@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap"); /*Add import from Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  color: white;
}

h1 {
  font-size: 3.6rem;
  font-family: "Be Vietnam Pro", sans-serif;
}

header {
  height: 100vh;

  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)),
    url(fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  margin: 2.9rem;
  color: rgb(0, 255, 13);
}

h2 {
  font-size: 4rem;
}
nav {
  padding: 2% 8%;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  padding-top: 2rem;
}

p {
  font-size: 1.6rem;
}

.contenido-header {
  width: 50%;
  position: relative;
  top: 16%; /*Desplaza la posición del texto hacia abajo*/
  left: 10%; /*Mueve de izquierda a derecha el texto*/
}

.suscribirse {
  display: block;
  margin-top: 3%;
  width: 50%;
  font-size: 1.6rem;
  background-color: rgb(161, 107, 25);
  color: #b42323;
  border: 1px solid rgb(0, 0, 0);
}

li {
  display: inline;
  margin-left: 1.6rem;
}

a {
  text-decoration: none;
  font-size: 1rem;
}

form {
  display: block;
  margin-top: 3%;
}

input {
  font-size: 1.6rem;
  width: 50%;
  color: black;
}
.logo h1 {
  color: white;
}
a:hover {
  color: brown;
  transition: 0.5s ease-in-out;
}

.icono-menu {
  /* visibility: hidden; /*Esconder menu*/
  display: none;
}
.contenedor-acerca {
  display: flex;
  justify-content: space-around;
}

h3 {
  color: black;
  font-size: 3rem;
}

h4 {
  color: black;
  font-size: 1.6rem;
}

.btn {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}

.quienes-somos,
.historia,
.mision-vision {
  flex-basis: 30%; /*Respeta los cuadros de la imagen*/
  padding: 1.6rem;
}

@media only screen and (max-width: 768px) {
  /*Diseño responsivo en teléfono*/
  .icono-menu {
    display: block;
    position: absolute;
    right: 36px;
    top: 26px;
  }

  nav {
    flex-direction: column;
  }
  nav ul {
    background-color: beige;
    display: none;
  }
  .mostrar {
    display: block;
  }

  nav ul li {
    display: block;
    padding: 1% 0;
  }

  nav ul li a {
    color: blue;
  }
}

.Testimonios {
  background-color: #cb997e;
  text-align: center;
  /*padding: 2%; Se puede agregar un padding en caso de alinear el texto a la derecha o izquierda*/
}
.contendor-testimonios {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
}
.tarjeta-testimonio {
  flex-basis: 50%;
}
.datos-cliente {
  display: flex;
}

.foto-perfil {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: 2px solid blanchedalmond;
}

.nombre-cliente {
  padding: 2rem 1.5rem; /*Texto despues de la imagen*/
}

.parrafo {
  color: black;
  font-size: 1.2rem;
}
.contacto {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 5rem;
}
.form-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-contact input {
  width: 40rem;
  margin-bottom: 1rem;
  color: black;
}

.form-contact textarea {
  width: 40rem;
  height: 15rem;
  color: black;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

footer {
  background-color: black;
  height: 3rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.texto {
  font-size: 1rem;
}
